---
import me from "../assets/me.png";

import inter from "@fontsource-variable/dm-sans/files/dm-sans-latin-wght-normal.woff2";
import firaCode from "@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2";

export interface Props {
  title: string;
  description: string;
  image?: string;
  type?: "article" | "website";
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image, type = "website" } = Astro.props;

const socialImage = new URL(image ?? me.src, Astro.url);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<link
  href="/favicon-light.png"
  rel="icon"
  media="(prefers-color-scheme: light)"
/>
<link
  href="/favicon-dark.png"
  rel="icon"
  media="(prefers-color-scheme: dark)"
/>

{
  [inter, firaCode].map((url) => (
    <link
      rel="preload"
      as="font"
      crossorigin="anonymous"
      href={url}
      type="font/woff2"
    />
  ))
}

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImage} />

<!-- Twitter -->
<meta
  property="twitter:card"
  content={image ? "summary_large_image" : "summary"}
/>
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImage} />
