---
import uniqolor from 'uniqolor';

export interface Props {
  icon: astroHTML.JSX.Element;
  title: string;
  tagline: string;
  href: string;
}

const { icon: Icon, title, tagline, href } = Astro.props;

const startColor = uniqolor(Buffer.from(title).toString('base64')).color;
const endColor = uniqolor(Buffer.from(tagline).toString('base64')).color;
---
<a target="_blank" rel="nopenner noreferrer" href={href} class="project" style={`--startColor: ${startColor}; --endColor: ${endColor}`}>
  <div class="inner"> 
    
    <Icon class="flex-shrink-0 text-base mx-2" /> 
  
    <div>
      <h3 class="text-lg mb-[0.5]">
        {title}
      </h3> 
      <p class="m-0 text-sm">
        {tagline}
      </p>
    </div>

  </div>
</a>

<style lang="postcss"> 
  .project {
    @apply block m-0 active:opacity-50 transition-all duration-150 p-[2px] rounded-xl;
    @apply active:scale-[0.99];

    background-image: linear-gradient(to bottom right, var(--startColor), var(--endColor));
    
    .inner {
      @apply dark:bg-black p-4 h-full flex flex-row gap-4 items-center text-left bg-white;
      border-radius: calc(theme('borderRadius.xl') - 2px);
    }
  }
</style>