---
import uniqolor from 'uniqolor';

export interface Props {
  icon: astroHTML.JSX.Element;
  title: string;
  tagline: string;
  href: string;
}

const { icon: Icon, title, tagline, href } = Astro.props;

const startColor = uniqolor(Buffer.from(title).toString('base64')).color;
const endColor = uniqolor(Buffer.from(tagline).toString('base64')).color;
---
<a target="_blank" rel="nopenner noreferrer" href={href} class="project" style={`--startColor: ${startColor}; --endColor: ${endColor}`}>
  <div class="inner"> 
    <h3 class="text-lg mb-1 flex flex-row items-center gap-2">
      <Icon class="inline text-sm" /> 
      {title}
    </h3> 
    <p class="m-0 text-sm">
      {tagline}
    </p>
  </div>
</a>

<style lang="postcss"> 
  .project {
    @apply block m-0 active:opacity-50 transition-all duration-150 p-[2px] rounded-xl;
    @apply active:scale-[0.99];

    background-image: linear-gradient(to bottom right, var(--startColor), var(--endColor));
    
    .inner {
      @apply bg-background p-4;
      border-radius: calc(theme('borderRadius.xl') - 2px);
    }
  }
</style>