---
import { getCollection } from "astro:content";

import FormattedDate from "./FormattedDate.astro";
import Notification from "~icons/mingcute/notification-fill";
import Monkey from "~icons/game-icons/gorilla";
import Project from "./Project.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<div> 

<h2>Projects</h2>

<ul class="grid grid-cols-2 gap-4">
  <Project href="https://pushjs.org" title="Push.js" icon={Notification} tagline="The world's most advanced notification framework" />
  <Project href="https://odict.org" title="The Open Dictionary" icon={Notification} tagline="A blazingly-fast, portable dictionary format" />
  <Project href="https://cityhop.cafe" title="Cityhop" icon={Notification} tagline="Aesthetic walks around the world" />
  <Project href="https://github.com/Nickersoft/oa" title="oa" icon={Notification} tagline="Dead-simple monkey testing" />
  <Project href="https://github.com/Nickersoft/nightbox" title="nightbox" icon={Notification} tagline="Dark color palettes for everyone" />
  <Project href="https://github.com/Nickersoft/hop" title="hop" icon={Notification} tagline="The package manager for web apps" />
  
</ul>
</div>

<style lang="postcss"> 
  a {
    @apply block; 
    @apply text-lg font-sans font-normal mb-0 mt-1 py-4 rounded-lg px-4 flex flex-col gap-2;
    @apply transition-all duration-75;
    @apply -mx-4;

    &:hover {
      @apply bg-white bg-opacity-[0.03];
    }

    &:active {
      @apply opacity-50;
    }
  }     
</style>
